body{
    background-color: rgb(206, 245, 206);
    color: green;
    margin: 0 auto;
}
.container h1{
    text-decoration: underline;
    text-align: center;
}
table{
    width: 100%;
    margin: 30px 0;
}
table, th, td{
    border: 1px solid black;
    text-align: center;
}
th, td{
    padding: 8px;
}
table tr:nth-child(1),
table tr:nth-child(2){
    background-color: green!important;
    color: white!important;
}
table tr:nth-child(even){
    background-color: green;
    color: white;
}
table tr:nth-child(odd){
    background-color: white;
    color: green;
}
.sub-heading p{
    display: inline;
    text-decoration: underline;
}
.sub-heading p:nth-child(1){
    margin-right: 50%;
    margin-left: 120px;
}